/*
 * Font Name: Barlow Semi Condensed
 * Source: https://github.com/jpt/barlow
 * Author: Jeremy Tribby (jeremy@tribby.com)
 * Contributors: https://github.com/jpt/barlow/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/

:root {
  --color-purple-50: oklch(93.675% 0.03614 301.359);
  --color-purple-300: oklch(77.328% 0.12223 302.218);
  --color-purple-500: oklch(51.184% 0.19835 296.357);
  --color-white: oklch(100% 0.00011 271.152);
  --color-grey-100: oklch(93.59% 0.00639 255.741);
  --color-grey-200: oklch(85.452% 0.0001 271.152);
  --color-grey-400: oklch(53.569% 0.02766 270.067);
  --color-grey-500: oklch(44.675% 0.03841 259.945);
  --color-dark-blue: oklch(24.627% 0.02755 259.983);
  --color-black: oklch(18.22% 0.00002 271.152 / 0.23);

  --font-family-barlow: "Barlow Semi Condensed", sans-serif;

  --font-size-11: calc(11 / 16 * 1rem);
  --font-size-13: calc(13 / 16 * 1rem);
  --font-size-20: calc(20 / 16 * 1rem);

  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --line-height-120pc: 1.2;
  --line-height-140pc: 1.4;

  --spacing-16: calc(16 / 16 * 1rem);
  --spacing-32: calc(32 / 16 * 1rem);
  --spacing-35: calc(35 / 16 * 1rem);
  --spacing-73: calc(73 / 16 * 1rem);

  --radius-8: calc(8 / 16 * 1rem);
  --radius-full: 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-family: var(--font-family-barlow);
  background-color: var(--color-grey-200);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.font-semibold {
  font-weight: var(--font-weight-semibold);
}

.font-size-11 {
  font-size: var(--font-size-11);
}

.font-size-13 {
  font-size: var(--font-size-13);
}

.font-size-20 {
  font-size: var(--font-size-20);
}

.line-height-1p4 {
  line-height: var(--line-height-140pc);
}

.line-height-1p2 {
  line-height: var(--line-height-120pc);
}

.text-purple-50 {
  color: var(--color-purple-50);
}

.text-grey-100 {
  color: var(--color-grey-100);
}

.text-grey-200 {
  color: var(--color-grey-200);
}

.text-grey-400 {
  color: var(--color-grey-400);
}

.text-grey-500 {
  color: var(--color-grey-500);
}

.bg-purple-500 {
  background-color: var(--color-purple-500);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-grey-200 {
  background-color: var(--color-grey-200);
}

.bg-grey-500 {
  background-color: var(--color-grey-500);
}

.bg-dark-blue {
  background-color: var(--color-dark-blue);
}

.pis-35 {
  padding-inline-start: var(--spacing-35);
}

.pie-35 {
  padding-inline-end: var(--spacing-35);
}

.pbs-73 {
  padding-block-start: var(--spacing-73);
}

.pbe-73 {
  padding-block-end: var(--spacing-73);
}

.p-32 {
  padding: var(--spacing-32);
}

.mbe-16 {
  margin-block-end: var(--spacing-16);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-row-16 {
  row-gap: var(--spacing-16);
}

.gap-row-32 {
  row-gap: var(--spacing-32);
}

.gap-col-16 {
  column-gap: var(--spacing-16);
}

.rounded-full {
  border-radius: var(--radius-full);
}

.rounded-8 {
  border-radius: var(--radius-8);
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

img {
  inline-size: 28px;
  block-size: 28px;
}

.testimonial {
  position: relative;
  z-index: -2;
  box-shadow: 25px 40px 28px 0px var(--color-black);
}

.purple-ring::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset-inline-start: 30px;
  inline-size: 32px;
  block-size: 32px;
  background-color: var(--color-purple-300);
  border-radius: var(--radius-full);
}
